{% extends 'tasks/index.html' %}
{% block content %}
<div class="view-header-bar">
    <a href="{% url 'tasks' %}">&#8592;Back</a>
    {% if task.task_completed %}
        <button id="done-btn"><a href="{% url 'task-status' task.id %}">Unmark as Completed &#215;</a></button>
    {% else %}
        <button id="done-btn"><a href="{% url 'task-status' task.id %}">Mark as Completed &#10004;</a></button>
    {% endif %}
</div>
<div class="card-body">
    <h3>{{task.title}}</h3>
    <p><strong>{{task.description}}</strong></p>
 </div>
{% endblock content %}